#### Noting presence of quoted strings

In [1]:
%matplotlib inline
import numpy as np  
import pandas as pd
import matplotlib.pyplot as plt  
import random

import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')

from math import sqrt
from scipy.spatial import distance

from IPython.display import display
pd.options.display.max_colwidth = 150

from IPython.core.display import display, HTML

print 'libs ready'

def browntext(text):
    display (HTML("<font color=brown>"+text+"</font>"))

def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

print 'subs ready'

libs ready
subs ready

In [3]:
## IMPORTING THE CORE DATA
import MySQLdb
from lib import trlib as trsubs

def dosql(sql):
    try:
        cursor.execute(sql)
        db.commit()
    except TypeError as e:
        print "could not update"
        print (e)
 
db, cursor = trsubs.openmysql()
## quora_dd_2 has had its contractions expanded.  So, fewer apostophe's to worry about.
data = pd.read_sql('SELECT * FROM quora_dd_2', con=db)
trsubs.closemysql(db)

In [17]:
#data.set_index('index', inplace=True)

In [11]:
data.head(3)

,linekey,question1,question2,Y,g1,g2,iid1,iid2,metagroup1,metagroup2
index,,,,,,,,,,
0,0,What is the step by step guide to invest in share market in india?,What is the step by step guide to invest in share market?,0,263854,335639,1,2,181604,520073
1,1,What is the story of Kohinoor (Koh-i-Noor) Diamond?,What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?,0,103260,184453,3,4,22526,87244
2,2,How can I increase the speed of my internet connection while using a VPN?,How can Internet speed be increased by hacking through DNS?,0,228552,494549,5,6,123054,189746

In [7]:
###########################################################################################
## QUOTED STRINGS.  create column to record whether there are single and/or double
## quoted strings.  
###########################################################################################
## make a space for new columns
newcolumns = data[['linekey']].copy()

QUOTED STRINGS ... ex: "Is the word 'parenthetical' ever used in normal conversation?"

People use quoted strings to mean all kinds of things.  Sometimes it's for emphasis as in scare quotes.  Sometimes it's to set the word apart in the sentence as one would properly do with commas (as above).  One thing to note is that non-matches in question pairs where a word is quoted in this way outnumber matches by 10 to 1 for single quotes and 5 to 1 for both kinds of quotes.  

So, just knowing that they exist would be a big red flag to the random forest that a given pair doesn't match.  However, tokenization will eliminate them, so let's make a column to mark their presense.  

I considered making individual tokens out of quoted strings, as "the_bell_jar", but after inspecting the data felt that people don't use quotation marks in a consistent enough manner to justify such an approach.

It's nevertheless clear that something in quotes is meant to be a focus of the sentence in some way.

In [10]:
## Using regular expressions to identify quotations

single_quoted_strings = \
        data[data.question1.str.contains(r"(?:^|\W)'(?:[\w\s-]|&)+'(?:\W|$)")].index.tolist()
single_quoted_strings2 = \
       data[data.question2.str.contains(r"(?:^|\W)'(?:[\w\s-]|&)+'(?:\W|$)")].index.tolist()
double_quoted_strings = \
       data[data.question1.str.contains(r"(?:^|\W)\"(?:[\w\s-]|&)+\"(?:\W|$)")].index.tolist()
double_quoted_strings2 = \
       data[data.question2.str.contains(r"(?:^|\W)\"(?:[\w\s-]|&)+\"(?:\W|$)")].index.tolist()

single_quoted_strings.extend(single_quoted_strings2)
double_quoted_strings.extend(double_quoted_strings2)

sqs = set(single_quoted_strings)
dqs = set(double_quoted_strings)

print len(sqs)
print data.loc[sqs].Y.value_counts()
print len(dqs)
print data.loc[dqs].Y.value_counts()

2922
0    2515
1     407
Name: Y, dtype: int64
10771
0    9041
1    1730
Name: Y, dtype: int64

In [12]:
## add a column to mark the cases where quoted strings are present
## Note that, because some question pairs have both kinds of quoted strings, the
## column can only mark one or the other.   Since single quoted strings are more 
## telling of non-match, those values are being set later.
newcolumns['quoted_string_is_present'] = 0
newcolumns.set_value(list(dqs), 'quoted_string_is_present', 2)
newcolumns.set_value(list(sqs), 'quoted_string_is_present', 1)
newcolumns.quoted_string_is_present.value_counts()

0    374822
2     10316
1      2922
Name: quoted_string_is_present, dtype: int64

In [16]:
## store it
# estblish db connection with sqlalchemy, because it's the only thing that
# can write a dataframe to a mysql table in one quick shot.
from pandas.io import sql
from sqlalchemy import create_engine
from lib import db_credentials as cred

db_user, db_pass, db_name = cred.db_credentials()
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=db_user,pw=db_pass,db=db_name))

newcolumns.to_sql(con=engine, name='quoted_string_is_present', index=0, if_exists='fail')
engine.dispose()