#### named entity counts

Counting named entities,and whether they're matched

In [1]:
%matplotlib inline
import numpy as np  
import pandas as pd
import matplotlib.pyplot as plt  
import re

from IPython.display import display
pd.options.display.max_colwidth = 150

print 'libd and subs ready'


import spacy
nlp = spacy.load('en')
from spacy.lang.en.stop_words import STOP_WORDS
import re

#from lib import splib as splib

print 'nlp libs available'

libd and subs ready
nlp libs available

In [2]:
## IMPORTING THE CORE DATA
import MySQLdb
from lib import trlib as trsubs

def dosql(sql):
    try:
        cursor.execute(sql)
        db.commit()
    except TypeError as e:
        print "could not update"
        print (e)
 
db, cursor = trsubs.openmysql()

## quora_dd_2 has had its contractions expanded.  So, fewer apostophe's to worry about.
data = pd.read_sql('SELECT * FROM quora_dd_2', con=db)

trsubs.closemysql(db)
print 'data ready'

data ready

In [3]:
len(data)

388060

In [21]:
rval = []
count = 0
mark  = 50000
for i in data.index:
    q1 = data.loc[i].question1
    q2 = data.loc[i].question2
    lk = data.loc[i].linekey
    yv = data.loc[i].Y
    
    if(count >= mark): print i; count = 0;
    count = count + 1
        
    ne1  = []
    doc1 = nlp(q1)
    for word in doc1:
        if(word.ent_type > 0):
            ne1.append(word.orth_.lower())
            
    ne2  = []
    doc2 = nlp(q2)
    for word in doc2:
        if(word.ent_type > 0):
            ne2.append(word.orth_.lower())
          
    score     = 0
    antiscore = 0
    checked   = []
    ne1 = list(set(ne1))
    ne2 = list(set(ne2))

    for item in ne1:
        if(item in ne2): score = score + 1
        else:            antiscore = antiscore - 1
        checked.append(item)
    for item in ne2:
        if(item not in checked):
            if(item in ne1): score = score + 1
            else:            antiscore = antiscore - 1
    
    rval.append((lk, score, abs(antiscore)))

print 'done'

50000
100000
150000
200000
250000
300000
350000
done

In [22]:
rpd = pd.DataFrame(rval)
rpd.rename(columns={0:'linekey', 1:'score', 2:'antiscore'}, inplace=True)

In [23]:
rpd.head()

   linekey  score  antiscore
0        0      0          1
1        1      1          7
2        2      0          2
3        3      0          1
4        4      0          0

In [24]:
from pandas.io import sql
from sqlalchemy import create_engine
from lib import db_credentials as cred

db_user, db_pass, db_name = cred.db_credentials()
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=db_user,pw=db_pass,db=db_name))

rpd.to_sql(con=engine, name='named_entity_counts', index=0, if_exists='fail')

engine.dispose()